<br>
<div class="d-flex justify-content-center">
    <button class="btn  btn-lg" [class.btn-primary-smart]="potencia == true" (click)="potencia = true;" style="width:250px" [class.btn-outline-primary-smart]="potencia !=  true">Potencia </button>
    <button class="btn  btn-lg" [class.btn-primary-smart]="potencia == false" (click)="potencia = false;" style="width:250px" [class.btn-outline-primary-smart]="potencia != false">Energía</button>
</div>
<br>
<br>
<br>
<div *ngIf="potencia == true else consumo">
    <div class="row">
        <div class="col-md-6">
            <div style="display: block;">
                <canvas baseChart width="400" height="200" [colors]="lineChartColors" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
            <div class="col-md-10 table-responsive-md">
                <table class="table table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th scope="col">kWh</th>
                            <th scope="col">$</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">12.433</td>
                            <td>9.859368</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #consumo>
    <div class="row">
        <div class="col-md-6">
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData"  [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
            <div class="col-md-12 table-responsive-md">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">kWh</th>
                            <th scope="col">$</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Día</th>
                            <td>3.424672</td>
                            <td>2.7157648</td>
                        </tr>
                        <tr>
                            <th scope="row">Semana</th>
                            <td>24.461943</td>
                            <td>19.39832</td>
                        </tr>
                        <tr>
                            <th scope="row">Mes</th>
                            <td>102.74016</td>
                            <td>85.99459</td>
                        </tr>
                        <tr>
                            <th scope="row">Año</th>
                            <td>113.28859</td>
                            <td>96.07889</td>
                        </tr>
                        <tr>
                            <th scope="row">Total</th>
                            <td>113.28859</td>
                            <td>96.07889</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>