@import '../../../styles.scss';
.ahorro {
    color: green;
}

.consumo {
    color: red;
}

.responsive-device {
    width: 100px;
    border-radius: 0%;
}

@media (min-width: 992px) {
    .responsive-device {
        width: 250px;
    }
}