<br>
<br>

<div class="d-flex justify-content-center">
    <button class="btn  btn-lg responsive-device" [class.btn-primary-smart]="tab=='dia'" (click)="tab ='dia'" [class.btn-outline-primary-smart]="tab != 'dia'">Día </button>
    <button class="btn  btn-lg responsive-device" [class.btn-primary-smart]="tab=='mes'" (click)="tab ='mes'" [class.btn-outline-primary-smart]="tab !='mes'">Mes</button>
    <button class="btn  btn-lg responsive-device" [class.btn-primary-smart]="tab=='año'" (click)="tab ='año'" [class.btn-outline-primary-smart]="tab !='año'">Año</button>
</div>
<br>
<br>
<br>
<div [ngSwitch]="tab">
    <div *ngSwitchCase="'dia'">
        <div class="row">
            <div class="col-md-12 col-lg-6 text-center">
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="1"></ngb-datepicker>
                <div style="padding-top: 10px;">
                    <h4> Día: {{model.day}}/{{model.month}}/{{model.year}}</h4>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 text-center">
                <div class="table-responsive-md">
                    <table class="table table-borderless table-smarten">
                        <thead>
                            <tr>
                                <th scope="col">kWh</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <h5 class="ahorro">4.593 kW</h5>
                                </td>
                                <td>
                                    <h5>Usted ha generado 4.593 kW</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="consumo">12.433 kW</h5>
                                </td>
                                <td>
                                    <h5>Usted ha consumido 12.433 kW</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="">-7.84 kWh</h5>
                                </td>
                                <td>
                                    <h5>Su consumo real a pagar hubiese sido 7.84 kW</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table table-borderless table-smarten">
                        <thead>
                            <tr>
                                <th scope="col">Pesos</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <h5 class="ahorro">{{'3.64224' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Usted ha generado{{'3.64224' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="consumo">{{'9.8593' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Usted ha consumido {{'9.8593' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="">{{'-6.217' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Su consumo real a pagar hubiese sido {{'-6.217' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'mes'">
        <div class="d-flex justify-content-center">
            <div class="">
                <div>
                    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="1"></ngb-datepicker>
                </div>
                <div style="padding-top: 10px;">
                    <h4> Mes:{{model.month}}/{{model.year}}</h4>
                </div>
            </div>
            <div style="padding-left: 25px;">
                <div class="table-responsive-md">
                    <table class="table table-borderless table-smarten">
                        <thead>
                            <tr>
                                <th scope="col">kWh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <h5 class="ahorro">44.6835 kW</h5>
                                </td>
                                <td>
                                    <h5>Usted ha ahorrado 44.6835 kW</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="consumo">102.74016 kW</h5>
                                </td>
                                <td>
                                    <h5>Usted ha consumido 102.74016 kW</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="">-58.05666 kWh</h5>
                                </td>
                                <td>
                                    <h5>Su consumo real a pagar hubiese sido 58.05666 kW</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table table-borderless table-smarten">
                        <thead>
                            <tr>
                                <th scope="col">Pesos</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <h5 class="ahorro">{{'35.434013' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Usted ha ahorrado{{'35.434013' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="consumo">{{'85.99459' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Usted ha consumido {{'85.99459' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="">{{'-50.5605' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Su consumo real a pagar hubiese sido {{'50.5605' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <div *ngSwitchCase="'año'">
        <div class="d-flex justify-content-center">
            <div class="">
                <div>
                    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="1"></ngb-datepicker>
                </div>
                <div style="padding-top: 10px;">
                    <h4> Año: {{model.year}}</h4>
                </div>
            </div>
            <div style="padding-left: 25px;">
                <div class="table-responsive-md">
                    <table class="table table-borderless table-smarten">
                        <thead>
                            <tr>
                                <th scope="col">kWh</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <h5 class="ahorro">44.6835 kW</h5>
                                </td>
                                <td>
                                    <h5>Usted ha ahorrado 44.6835 kW</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="consumo">102.74016 kW</h5>
                                </td>
                                <td>
                                    <h5>Usted ha consumido 102.74016 kW</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="">-58.05666 kWh</h5>
                                </td>
                                <td>
                                    <h5>Su consumo real a pagar hubiese sido 58.05666 kW</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table table-borderless table-smarten">
                        <thead>
                            <tr>
                                <th scope="col">Pesos</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <h5 class="ahorro">{{'35.434013' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Usted ha ahorrado{{'35.434013' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="consumo">{{'85.99459' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Usted ha consumido {{'85.99459' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h5 class="">{{'-50.5605' |currency:'MXN'}}</h5>
                                </td>
                                <td>
                                    <h5>Su consumo real a pagar hubiese sido {{'50.5605' |currency:'MXN'}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>