<div class="d-flex justify-content-center" style="padding-top: 20px;">
    <button class="btn  btn-lg responsive-device" [class.btn-primary-smart]="potencia == true" (click)="randomize()" [class.btn-outline-primary-smart]="potencia ==  false">Potencia </button>
    <button class="btn  btn-lg responsive-device" [class.btn-primary-smart]="potencia == false" (click)="randomize2()" [class.btn-outline-primary-smart]="potencia == true">Energía</button>
</div>
<div [ngSwitch]="potencia">
    <div *ngSwitchCase="true">

        <div class="d-flex justify-content-around flex-wrap">
            <div class="col-md-7">
                <div style="display: block; padding-top: 20px;">
                    <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col-md-7">
                <div style="display: block; padding-top: 20px;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false">

        <div class="d-flex justify-content-around flex-wrap">
            <div class="col-md-7">
                <div style="display: block; padding-top: 20px;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="col-md-7">
                <div style="display: block; padding-top: 20px;">
                    <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-7">
        <div style="display: block; padding-top: 20px;">
            <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <div class="col-md-7">
        <div style="display: block; padding-top: 20px;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div> -->