<div class="large-devices">
    <img src=" assets/paneles_3.1.jpg " class="image-header ">
    <h1 class="display-1 top-text">¡Bienvenidos!</h1>
    <div class="centrado" align="center">

        <h1>Aquí podrás monitorear tu consumo de energía eléctrica y simular los ahorros que te generaría un sistema fotovoltaíco </h1>
    </div>
    <div class="bottom-left-text" align="center">
        <h3>Cotiza tu sistema aquí</h3>
        <h3>Teléfono:9992358239</h3>
        <h3>Email: info@smarten.com.mx</h3>
    </div>
</div>
<div class="medium-devices">
    <img src=" assets/paneles_3-2.jpg " class="image-header ">
    <h1 class="display-4 top-text">¡Bienvenidos!</h1>
    <div class="centrado" align="center">

        <h5>Aquí podrás monitorear tu consumo de energía eléctrica y simular los ahorros que te generaría un sistema fotovoltaíco </h5>
    </div>
    <div class="bottom-left-text" align="center">
        <p><strong> Cotiza tu sistema aquí </strong></p>
        <p><strong> Teléfono:9992358239 </strong></p>
        <p><strong> Email: info@smarten.com.mx </strong></p>
    </div>
</div>